.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: rgba(38, 38, 38, 1);
    border-radius: 40px;
    padding: 20px;
    font-size: 30px;
}

.cart-item img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 40px;
}

.remove-button {
    width: 200px;
    height: 80px;
    border-radius: 30px;
    font-size: 30px;
    color: white;
    background-color: rgba(38, 38, 38, 1);
    border-width: 10px;
}