.game-component {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 50px;
    margin: 20px;
    background-color: #1a1a1a;
    padding: 15px;
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.game-component:hover {
    transform: scale(1.03);
    background-color: #00d5ff;
    color: black;
    cursor: pointer;
}

/*.game-component:active {
    transform: scale(1.0);
}*/

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1.03);
    }
}

.game-component.pop-effect {
    animation: pop 200ms ease-out;
}


.game-image {
    width: 100%;
    aspect-ratio: 3 / 4; /* адаптивна висота */
    overflow: hidden;
    border-radius: 50px;
}

.game-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
    border-radius: 50px;
}

.game-name {
    font-weight: 600;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.game-price {
    font-weight: 400;
    font-size: 30px;
    margin-top: auto;
    margin-left: 20px;
}
