.game-screen {
    /* display: block; */
    margin-top: 176px;
    padding: 50px 250px 0px 250px;
}

.game-screen-main-tob-block {
    margin-bottom: 50px;
}

h1 {
    font-size: 70px;
}

.game-screen-image {
    border-radius: 40px;
    width: 710px;
    height: 900px;
    float: left;
    margin-right: 44px;
}

.game-screen-image img {
    border-radius: 40px;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.buy-game { 
    font-size: 30px;
    margin-bottom: 30px;
}

.basic-information { 
    font-size: 30px;
}

.about-this-game { 
    font-size: 30px;
    margin-bottom: 50px;
}

#buy-game-content-price span,
.basic-information span,
.system-requirements span {
    color: rgba(0, 221, 255, 1);
}

.buy-game h3,
.basic-information h3,
.about-this-game h3,
.system-requirements h3 {
    font-size: 50px;
}

.buy-game button {
    border-radius: 30px;
    width: 241px;
    height: 70px;
    background-color: rgba(0, 221, 255, 1);
    font-size: 30px;
}

.buy-game hr,
.basic-information hr,
.about-this-game hr,
.system-requirements hr {
    margin-bottom: 20px;
}

.buy-game-content {
    display: flex;
    justify-content: space-between;
}

.button-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-this-game-content {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
    /* padding: 0px 250px 0px 250px; */
}

.about-this-game-img-1,
.about-this-game-img-2 {
    width: 1700px;
    height: 1000px;
    margin: 20px 0px 20px 0px;
}

.about-this-game-img-1 img,
.about-this-game-img-2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.system-requirements { 
    font-size: 30px;
}

.system-requirements-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    text-align: justify;
    /* max-width: 1000px; */
    width: 100%;
}

/* .system-requirements-minimum {
    padding-left: 50px;
} */