.game-component {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 50px;
    margin: 20px;
    background-color: #1a1a1a;
    padding: 15px;
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out;
}

.game-component:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.game-image {
    width: 100%;
    aspect-ratio: 3 / 4; /* адаптивна висота */
    overflow: hidden;
    border-radius: 50px;
}

.game-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
    border-radius: 50px;
}

.game-name {
    font-weight: 600;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.game-price {
    font-weight: 400;
    font-size: 30px;
    margin-top: auto;
    margin-left: 20px;
    color: #ccc;
}
