.search-input {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 30px;
  overflow: hidden;
  padding: 2px;
  width: 609px;
  height: 60px;
}

.search-input input {
  border: none;
  background: transparent;
  padding: 8px 12px;
  outline: none;
  font-size: 30px;
  width: 609px;
  color: #000;
}

.search-input button {
  background: none;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-input button img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
