#main-screen {
  margin-top: 105px;
  padding-bottom: 40px;
}

.banner-image {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.games-section {
  text-align: left;
  padding: 25px 200px 10px;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.section-line {
  border: 1px solid white;
}

.games-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding: 0px 200px;
}

@media (max-width: 768px) {
    .game-component {
        max-width: 90%;
    }
}
