.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signup-box {
  background-color: rgba(38, 38, 38, 1);
  padding: 0px 70px 40px;
  border-radius: 40px;
  text-align: center;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
}

.logo {
  width: 110px;
  height: auto;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 13px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-label {
  color: #ffffff;
  font-size: 17px;
  margin-bottom: 16px;
  text-align: left;
  margin-left: 20px;
}

.signup-input {
  padding: 10px;
  border: none;
  border-radius: 30px;
  font-size: 17px;
  height: 30px;
  margin-bottom: 25px;
  background-color: rgba(66, 66, 66, 1);
  color: #ffffff;
  outline: none;
}

.signup-input:last-of-type {
  margin-bottom: 60px;
}

.signup-button {
  background-color: rgba(26, 142, 236, 1);
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0s ease;
  border: none;
}

.signup-button:hover {
  background-color: rgb(31, 118, 189);
}

.signup-button:active {
  background-color: rgb(102, 176, 237);
}

.signup-input:focus,
.signup-button:focus {
  outline: 2px solid rgb(26, 142, 236);
  outline-offset: 2px;
}