.menu-icon {
  width: 32px;
  height: 29px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-icon div {
  height: 12px;
  background-color: white;
  border-radius: 34px;
}
