.App {
  background-color: black;
  color: white;
  margin-top: 176px;
}

.banner-image {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 1000px;
  object-fit: cover;
}

.games-section {
  text-align: left;
  padding: 20px;
}

.section-title {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 10px;
}

.section-line {
  border: 1px solid white;
}

/*.games-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 100px;
}*/

.games-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 40px 20px;
}

@media (max-width: 768px) {
    .game-component {
        max-width: 90%;
    }
}
